@model IEnumerable<Movies.Models.Character>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.MovieID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Actor.ActorID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CharacterName">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CharacterName">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CharacterName">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
